<div class="flex justify-center items-center bg-gradient-to-br from-blue-50 to-indigo-100">
    <div mat-dialog-content class="py-4 px-10 max-w-2xl bg-white rounded-2xl">
        <div class="flex justify-between items-center mb-2">
            <h1 mat-dialog-title class="font-bold py-3">Create Business Account</h1>
            <button mat-raised-button color="primary" (click)="this.router.navigate(['/login'])">
                Log in
            </button>
        </div>
        <form [formGroup]="userForm" class="space-y-4">
            <div class="flex gap-2">
                <mat-form-field class="w-50">
                    <mat-label>Business Owner Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter Onwer Name">
                    <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                        Full name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Business Name</mat-label>
                    <input matInput formControlName="business_name" placeholder="Enter Business Name">
                    <mat-error *ngIf="userForm.get('business_name')?.hasError('required')">
                        Business name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="business_email" placeholder="Enter email address">
                <mat-error *ngIf="userForm.get('business_email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="userForm.get('business_email')?.hasError('email')">
                    Please enter a valid email
                </mat-error>
            </mat-form-field>

            <div class="flex gap-2">
                <mat-form-field class="w-50">
                    <mat-label>Business Number</mat-label>
                    <input matInput type="number" formControlName="business_phone" placeholder="Enter Business Number">
                    <mat-error *ngIf="userForm.get('business_phone')?.hasError('required')">
                        Phone number is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Personal Number</mat-label>
                    <input matInput type="number" formControlName="personal_phone" placeholder="Enter Personal Number">
                    <mat-error *ngIf="userForm.get('personal_phone')?.hasError('required')">
                        Phone number is required
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="w-100">
                <mat-label>GST Number</mat-label>
                <input matInput type="number" formControlName="GST_Number" placeholder="Enter GST Number">
                <mat-error *ngIf="userForm.get('GST_Number')?.hasError('required')">
                    GST number is required
                </mat-error>
            </mat-form-field>

            <div class="flex gap-5 max-h-50">
                <mat-form-field class="w-50">
                    <mat-label>Business Document</mat-label>
                    <input type="file" #fileInput accept=".jpg,.jpeg,.pdf,.doc,.docx" (change)="onFileSelected($event)"
                        hidden>
                    <input matInput [value]="selectedFileName" placeholder="Upload Document" readonly>
                    <button mat-icon-button matSuffix (click)="fileInput.click()" type="button">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('business_documnet')?.hasError('required')">
                        Document is required
                    </mat-error>
                </mat-form-field>
                <!-- Preview Section -->
                @if(filePreview){
                <div class="preview-container w-50 max-h-20">
                    @switch (fileType) {
                    @case ('image') {
                    <img [src]="filePreview" alt="preview" class="preview-img max-h-20">
                    }
                    @case ('pdf') {
                    @if(filePreview){
                    <embed [src]="filePreview" type="application/pdf" width="100%" height="100px" />
                    }
                    }
                    @default {
                    <p>Preview not available. Selected: {{ selectedFileName }}</p>
                    }
                    }
                </div>
                }
            </div>

            <div formGroupName="business_address" class="w-100">
                <mat-label class="font-bold d-block mb-5">Address Detail</mat-label>

                <div class="flex gap-2">
                    <mat-form-field class="w-50">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" placeholder="Enter City">
                    </mat-form-field>
                    <mat-form-field class="w-50">
                        <mat-label>Pincode</mat-label>
                        <input matInput formControlName="pin_code" placeholder="Enter Pincode">
                    </mat-form-field>
                </div>

                <mat-form-field class="w-100">
                    <mat-label>Full Address</mat-label>
                    <input matInput formControlName="full_address" placeholder="Enter Full Address">
                    <mat-error *ngIf="userForm.get('business_address.full_address')?.hasError('required')">
                        Full address is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" placeholder="Enter State">
                </mat-form-field>
            </div>

            <div class="flex gap-5 max-h-50">
                <mat-form-field class="w-50">
                    <mat-label>Shop Front Image</mat-label>
                    <input type="file" #fileInputImage accept="image/*" (change)="onFileSelectedShop($event)" hidden>
                    <input matInput [value]="selectedImageName" placeholder="Upload Shop Image" readonly>
                    <button mat-icon-button matSuffix (click)="fileInputImage.click()" type="button">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('shop_image')?.hasError('required')">
                        Shop front image is required
                    </mat-error>
                </mat-form-field>
                <!-- Preview Section -->
                @if(filePreviewShop){
                <div class="preview-container w-50 max-h-20">
                    @switch (fileType) {
                    @case ('image') {
                    <img [src]="filePreviewShop" alt="preview" class="preview-img max-h-20">
                    }
                    @default {
                    <p>Preview not available. Selected: {{ selectedFileName }}</p>
                    }
                    }
                </div>
                }
            </div>
        </form>
        <div mat-dialog-actions class="flex justify-end gap-2">
            <button mat-button>Cancel</button>
            <button mat-raised-button color="primary" [disabled]="userForm.invalid || isLoading" (click)="onSave()">
                {{ isLoading ? 'Submiting...' : 'Submit' }}
            </button>
        </div>
    </div>
</div>